h1 {
    color: blue;
    text-align: center;
}
div {
    text-align: center;
}

p {
    text-align:center;
}

ul {
    text-align:left;
    list-style-position:inside;
}

ol {
    text-align:left;
    list-style-position: outside;
}

li {
    font-size: 30px;

}
h1 {
        color: green
    
}
.taco {
        color: red;
}
.tacos {
    text-transform: uppercase;
}
ul {        
    line-height: 2.0em;
}


input, textarea {
    display: block;
    margin-bottom: 20px;
    padding: 8px;
}

input[name="dest_email"] {
    display: none;
}

.left, .right {
    width: 100%;
    display: inline-block;
    text-align: left;
}

@media (min-width:760px) {
    .left, .right {
        width: 48%;
    }
}
