h1 {
    color: blue;
    text-align: center;
}
div {
    text-align: center;
}

p {
    text-align:center;
}

ul {
    text-align:left;
    list-style-position:inside;
}

ol {
    text-align:left;
    list-style-position: outside;
}

li {
    font-size: 30px;
}
h1 {
        color: green
    
}
.taco {
        color: red;
}
.tacos {
    text-transform: uppercase;
}